#narrativeblock {
  padding-top: 15px;
}

#one-unique-thing .subtitle-label {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 30%,
    rgb(245, 245, 245) 100%
  );
}

#one-unique-thing:hover .subtitle-label {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 30%,
    rgb(235, 235, 235) 100%
  );
}

@media screen and (prefers-color-scheme: dark) {
  #one-unique-thing .subtitle-label {
    background: linear-gradient(
      180deg,
      #242424 30%,
      rgb(20, 20, 20) 100%
    );
  }
  
  #one-unique-thing:hover .subtitle-label {
    background: linear-gradient(
      180deg,
      #242424 30%,
      rgb(65, 65, 65) 100%
    );
  }
}

#narrativeblock #unique-input {
  box-sizing: border-box;
  height: 100%;
  padding: 8px;
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  overflow: hidden;
  resize: none;
  width: 180px;
}

#narrativeblock .lined-input {
  width: 120px;
}

#narrativeblock #items .lined-input {
  width: 130px;
}

#narrativeblock #gold {
  margin-left: 20px;
  border: 1px black solid;
  min-width: 60px;
  max-height: 15px;
  text-align: end;
}

@media screen and (max-width: 800px) {
  .narrative-input {
    max-width: 205px;
    width: 205px;
  }

  #narrativeblock #unique-input {
    width: 205px;
  }

  #narrativeblock #items .lined-input, #narrativeblock #backgrounds .lined-input {
    width: 150px;
  }
}

@media screen and (min-width: 451px) and (max-width: 800px) {
  #narrativeblock {
    grid-template-rows: 216px;
  }

  #narrativeblock > :nth-child(2),
  #narrativeblock > :nth-child(4) {
    justify-self: end;
  }
}

@media screen and (max-width: 450px) {
  #narrativeblock {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 216px;
    gap: 5px;
  }

  .narrative-input {
    flex: 0 0 100%;
    justify-self: center;
  }
}

#narrativeblock #one-unique-thing {
  padding: 0px;
}

#narrativeblock .narrative-input {
  box-sizing: border-box;
  height: 216px;
  padding: 0px 10px;
}

#icon-relationships {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 216px;
}
