.navbar {
  display: flex;
  min-width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  padding: 5px 3%;
  margin-bottom: 5px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(224, 224, 224);
  border: solid 1px rgb(128, 128, 128);
}

@media (prefers-color-scheme: dark) {
  .navbar {
    background-color: rgb(51, 51, 51);
    border: solid 1px rgb(128, 128, 128);
  }
}

.navbar #nav-title {
  font-weight: bold;
  font-size: 15px;
  width: 90px;
}

.navbar div {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media screen and (max-width: 700px) {
  .navbar {
    justify-content: start;
  }

  .navbar #nav-title {
    font-size: 12px;
    width: 70px;
  }
}

.navbar button {
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .navbar button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
  }
}

.navbar .icon {
  min-width: 35px;
  width: 35px;
  min-height: 35px;
  height: 35px;
}

@media (prefers-color-scheme: dark) {
  .navbar .icon {
    fill: white;
  }
}

.navbar #print {
  margin-left: 25px;
}

.navbar .checkbox-container {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar input[type="checkbox"] {
  margin: 0px 9px;
  transform: scale(2);
}

@media screen and (max-width: 700px) {
  .navbar input[type="checkbox"] {
    margin: 0px 9px;
    transform: scale(2.8);
  }

  .navbar .checkbox-container {
    font-size: 13px;
    text-align: center;
  }
}
