@font-face {
  font-family: "Mason Regular";
  src: url(./assets/mason-regular.ttf);
}

@font-face {
  font-family: "Dragon Fire";
  src: url(./assets/Dragon-Fire.ttf);
}

@media print {
  @page {
    size: letter;
    margin: 0.5in;
  }

  body, html {
    width: 100%;
    max-width: 8in;
    height: auto;
    margin: 0 auto;
  }

  .no-print {
    display: none !important;
  }
}

body {
  display: flex;
  align-items: start;
  justify-content: center;
  font-family: "Roboto";
  margin-top: 15px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

input,
select,
textarea {
  background-color: rgb(245, 245, 245);
}

input[type="text"]:hover,
input[type="number"]:hover,
select:hover,
textarea:hover {
  background-color: rgb(235, 235, 235);
}
